---
layout: default
---
<div class="home">
  {{ content }}

  <h2 class="post-list-heading">Recent posts</h2>
  <ul class="post-list">
    {%- for post in site.posts limit:3 -%}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if post.description -%}
      <p class="post-description">{{ post.description }}</p>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p><a href="{{ '/posts/' | relative_url }}">See all posts</a></p>
</div>
